/*Redefinimos los estilos predeterminados*/
* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER Y BARRA DE NAVEGACION*/

/*Le quitamos la decoracion a las etiquetas a*/
a {
    text-decoration: none;
    /*para que paraesca  un amanito cuando pase el mouse*/
    cursor: pointer;
}

header {
    /*Ajustamos el ancho del 100% para que se ajuste automaticamente 
    y ocupe la totalidad y una altura de 60 px*/
    width: 100%;
    height: 60px;
}

header nav {
    /*utilizaremos displayFlex en el header*/
    display: flex;
    justify-content: flex-end;
    /**/
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    /*auto:Para que tome de formaautomatica la altura del padre(header)*/
    display: flex;
    /*Volvems a utilizar display flex*/
    list-style: none;
    /*Le quitamos los estilos feos predefinidos de una lista */
}

/*Separamos los elementos de (Gamil,imagenes, etc)
*/
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;

}

/*Agregamos el icono en la barra de navegacion*/
nav  .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');/*Es importnte ponerle las comillas para que la url funcione correctamente*/
    /*PAra que la imgen no se repita por el espacio qu equeda*/
    background-repeat: no-repeat;
    /*Aseguramos el tamaño del icono*/
    /*para que la imagen quede al centro del div*/
    background-position: center;
    /*ppara que la imagen sea del tamaño de mi contenedor*/
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    /*Redondeamos las esquinas de ma imagen de perfil*/
    border-radius: 50px;
    margin-left: 10px;
}


/*Estructura MAIN*/
main{
    margin-top: 150px; /*Crea una 
    distanciade margen superior delmain para que se veamas hacia abajo*/
    text-align: center;/*Centra elcontenido del main*/
}

main .main-logo{
    width: 530px;
    margin:0 auto;/*Me permite centrar una etiqueta  contenedora */
    margin-bottom: 35px;
}

main .main-logo img{
width: 300px;
}


/*Input BARRA DE GOOGLE*/

main .main-input{
width:530px ;/*Anco del input*/
margin:0 auto;/*Para que se posiciones en la mitad de la pantalla*/
margin-bottom: 35px; /*agrandamos la margen
 de la caja del input para que se separen más los botones*/
}

/*Contenedodr dentro de un contenedor para manejra mejor lso stilos de este*/
main .main-input-container{
width: 525px;
border-radius: 100px;/*Redondeamos los bordes*/
border: 1px solid #c8c4c48a;
display: flex;/*convertinero el contenedor en un dipplay flex*/
justify-content: center;/*DF:permite acomodar en el centro los elemntos del contenedor*/

}

/*Damos estilo al input, le quitamos lo feo*/
main .main-input input{
width: 450px;
height: 40px;
border: none;
outline: none;
}

/*Pseudoelemnto para efecto de sonbra al container input*/
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447 ;
    border-color: #dfe1e500;
}

/*Colocamos iconos del input*/
main .main-input .search-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');/*lo traemos con la url*/
    background-repeat: no-repeat;/*para que no se repita*/
    background-position: center;
    background-size: contain;/**/
    /*Tenemos que darles posiciones para que se sepa cuantos pixeles debe renderizar*/
    width: 18px;
    height: 18px;
    margin:auto;
}

main .main-input .micro-icon{
    background-image: url('https://img2.freepng.es/20180410/prw/kisspng-microphone-google-voice-google-search-google-logo-microphone-5accc7048689d8.1298385515233697325511.jpg');/*lo traemos con la url*/
    background-repeat: no-repeat;/*para que no se repita*/
    background-position: center;
    background-size: contain;/**/
    /*Tenemos que darles posiciones para que se sepa cuantos pixeles debe renderizar*/
    width: 18px;
    height: 18px;
    cursor:pointer;
    align-items: center;
    margin: auto;
}

/*ESTILOS a LOS BOTONES DE DEBAJODEL INPUT*/
/*Le damos  el ancho al contenedor */
main .main-buttons {
    width:530px;
    margin: 0 auto; /*para posicionar en el centro los divs dentro del section */
}
/*hacemos qeu los botones se posiciones  de manera consecutiva*/
main .main-buttons div{
    display: inline-block;
   

}

main .main-buttons button{
height: 36px;/*Damos altura alos botones*/

background-color: #f2f2f2;
border:0;/*Quitamosbordes*/
font-size: 14px;
color: #5f6368;
border-radius: 5px;
margin-right:8px;/*Separacion horiszontal de botones*/
padding:0 15px;
}

/*Efecto cuando tenemos elcursor encima del boton*/
main .main-buttons button:hover{
    border:1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.184);/*Sombra*/
}

/*FOoter section*/
footer{
    width:100%;
    height: 100px;
    position:absolute;/*para que se quede abajo*/
    bottom: 0;/*Ubicamos al final de la pagina*/
    display:grid;
    grid-template-columns: 1fr 1fr;/*me permite hacer una
    cuadricula para manipular mejor nuestros estilos*/
    align-items: center;
    font-size: 13px;/*fuente del footer*/
    background-color: #f2f2f2;
    border-top-color: 1px solid #e4e4e4;
}

footer ul{
    margin:10px;
    list-style: none;/*Reseteamos estilos*/
    display:flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;/*para que todo el contenido se vaya a la derecha*/
}

footer .footer-rigth{
    justify-content: right;
}

footer ul li a{
    margin:10px;
    color:#5f6369;
}
