/*Redefinimos los estilos predeterminados*/
* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER Y BARRA DE NAVEGACION*/

/*Le quitamos la decoracion a las etiquetas a*/
a {
    text-decoration: none;
    /*para que paraesca  un amanito cuando pase el mouse*/
    cursor: pointer;
}

header {
    /*Ajustamos el ancho del 100% para que se ajuste automaticamente 
    y ocupe la totalidad y una altura de 60 px*/
    width: 100%;
    height: 60px;
}

header nav {
    /*utilizaremos displayFlex en el header*/
    display: flex;
    justify-content: flex-end;
    /**/
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    /*auto:Para que tome de formaautomatica la altura del padre(header)*/
    display: flex;
    /*Volvems a utilizar display flex*/
    list-style: none;
    /*Le quitamos los estilos feos predefinidos de una lista */
}

/*Separamos los elementos de (Gamil,imagenes, etc)
*/
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;

}

/*Agregamos el icono en la barra de navegacion*/
nav  .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');/*Es importnte ponerle las comillas para que la url funcione correctamente*/
    /*PAra que la imgen no se repita por el espacio qu equeda*/
    background-repeat: no-repeat;
    /*Aseguramos el tamaño del icono*/
    /*para que la imagen quede al centro del div*/
    background-position: center;
    /*ppara que la imagen sea del tamaño de mi contenedor*/
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    /*Redondeamos las esquinas de ma imagen de perfil*/
    border-radius: 50px;
    margin-left: 10px;
}


/*Estructura MAIN*/
main{
    margin-top: 150px; /*Crea una 
    distanciade margen superior delmain para que se veamas hacia abajo*/
    text-align: center;/*Centra elcontenido del main*/
}

main .main-logo{
    width: 530px;
    margin:0 auto;/*Me permite centrar una etiqueta  contenedora */
    margin-bottom: 35px;
}

main .main-logo img{
width: 300px;
}


/*Input BARRA DE GOOGLE*/

main .main-input{
width:530px ;/*Anco del input*/
margin:0 auto;/*Para que se posiciones en la mitad de la pantalla*/
margin-bottom: 35px; /*agrandamos la margen
 de la caja del input para que se separen más los botones*/
}

/*Contenedodr dentro de un contenedor para manejra mejor lso stilos de este*/
main .main-input-container{
width: 525px;
border-radius: 100px;/*Redondeamos los bordes*/
border: 1px solid #c8c4c48a;
display: flex;/*convertinero el contenedor en un dipplay flex*/
justify-content: center;/*DF:permite acomodar en el centro los elemntos del contenedor*/

}

/*Damos estilo al input, le quitamos lo feo*/
main .main-input input{
width: 450px;
height: 40px;
border: none;
outline: none;
}

/*Pseudoelemnto para efecto de sonbra al container input*/
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447 ;
    border-color: #dfe1e500;
}

/*Colocamos iconos del input*/

main .main-input .search-icon{
    background-image: url('');
    background-repeat: no-repeat;
}